# Include package source, configuration files, metadata and documentation for source distributions.
graft pyaqsapi
graft docs
graft recipe
include README.rst
include LICENSE.rst
include pyproject.toml
include MANIFEST.in
include CITATION.cff
include changelog.rst
include codeinventory.json
include codemeta.json
include conda-forge.yaml
include environment.yml
include Pipfile
include pytest.ini
include pyrightconfig.json
include tox.ini
include bld.bat
include build.sh
include .coveragerc
include .pylintrc
include .gitignore
include .gitattributes
include dontlintpyifiles.py
include py.typed #include the py.typed file at package root
recursive-include pyaqsapi *.typed #include all other .typed files under the pyaqsapi directory
graft tests

# Exclude unwanted user specific files, build artificats, development and build cache files from the source distribution.
exclude .actrc
exclude .dockerignore
exclude .gitattributes
exclude .github/*
exclude pylint_import-dependency-graph.png
exclude whitelist.py
exclude .secrets

global-exclude __pycache__
global-exclude *.py[cod]
global-exclude *.pyd
global-exclude *.so
global-exclude *.egg-info

prune .git
prune .github
prune .vscode
prune .tox
prune dev
prune build
prune dist
prune htmlcov
prune .pytest_cache
prune .ruff_cache
prune .spyproject
prune .devcontainer
prune docs/_build
prune docs/_static
prune docs/_templates
prune codeql-custom-queries-python
