include README.rst
include *.pyi
include *py.typed

#exclude config files
exclude environment.yml
exclude conda-forge.yaml
exclude mypy.ini
exclude tox.ini
exclude pytest.ini
exclude pyrightconfig.json
exclude codeinventory.json
exclude codemeta.json
exclude .coveragerc
exclude pylint_import-dependency-graph.png


# Exclude common build and editor artifacts
global-exclude __pycache__
global-exclude *.py[cod]
global-exclude *.so

# Prune top-level development, CI, and editor folders
prune .devcontainer/
prune .github/
prune .vscode/
prune .spyproject/
prune .git/
prune .tox/
prune dist/
prune dev/
prune codeql-custom-queries-python/
prune htmlcov/
