[[source]]
url = "https://github.com/USEPA/pyaqsapi"
verify_ssl = true
name = "pyaqsapi"

[packages]
python = ">=3.9"
conda-build = "*"
#tox-conda = "*" # currently, tox-conda is incompatible with tox>=4.0
pandas = "*"
requests = "*"
sphinx = "*"
sphinxcontrib-bibtex = "*"
sphinxcontrib-napoleon = "*"
sphinx-rtd-theme = "*"
numpydoc = "*"
certifi = "*"
cryptography = "*"
pytest = "*"
pytest-rerunfailures = "*"
keyring = "*"
datetime = "*"
ratelimit = "*"

[dev-packages]

[requires]
python_version >= "3.9"
