[project]
name = "pyaqsapi"
requires-python = ">=3.9"
dependencies = [
    python
    conda-build,
    pandas,
    requests,
    setuptools,
    sphinx,
    sphinxcontrib-apidoc,
    sphinxcontrib-bibtex,
    numpydoc,
    toml,
    sphinx_rtd_theme,
    certifi,
    cryptography
]
optional-dependencies = [
    pytest,
    pytest-black,
    pytest-rerunfailures
]
dynamic = ["version"]
description = "United States Environmental Protection Agency (US EPA) Air \
               Quality System (AQS) Data Mart API v2 interface."
authors = [
  {name = "Clinton Mccrowey", email = "mccrowey<DOT>clinton<AT>epa<DOT>gov"},
]
maintainers = [
  {name = "Clinton Mccrowey", email = "mccrowey<DOT>clinton<AT>epa<DOT>gov"}
]
readme = {file = "README.rst", content-type = "text/x-rst"}
license = {file = "LICENSE.rst"}
classifiers = [
  "Development Status :: 4 - Beta",
  "Programming Language :: Python :: 3",
  "License :: OSI Approved :: MIT License",
  "Operating System :: OS Independent"
]

[project.urls]
"Homepage" = "https://github.com/USEPA/pyaqsapi"
"AQS" = "https://www.epa.gov/aqs"
"AQS DataMart" = "https://aqs.epa.gov/aqsweb/documents/data_mart_welcome.html"
"AQS Data Mart API" = "https://aqs.epa.gov/aqsweb/documents/data_api.html"
"pyaqsapi API Documentation" = "https://usepa.github.io/pyaqsapi/"
"SOURCE" = "https://github.com/USEPA/pyaqsapi.git"
"RAQSAPI" = "https://github.com/USEPA/RAQSAPI"
"Issue Tracker" = "https://github.com/USEPA/pyaqsapi/issues"

[build-system]
requires = [
    "sphinx",
    "sphinxcontrib-napoleon",
	  "setuptools",
	  "wheel"
]

build-backend = "setuptools.build_meta"


[tool.ruff]
lint.select = ["I001",
               "I002",
               "E101",
               "D100",
               "D401",
               "D402",
               "D403",
               "D404",
               "D406",
               "D407",
               "D408",
               "D409",
               "D414",
               "D415",
               "D417",
               "D419"]
          
lint.extend-select = ["UP"]


exclude = [
    "__init__.py",
    ".git",
    ".tox",
    "ruff_cache",
    ".spyproject",
    ".github",
    ".vscode",
    "conf.py",
    "setup.py",
    "*tests/*",
    "dev/*"
]

[tool.ruff.lint.pydocstyle]
convention = "google"

[tool.setuptools]
packages = ["pyaqsapi",
            "pyaqsapi.bysite",
            "pyaqsapi.bycounty",
            "pyaqsapi.bystate",
            "pyaqsapi.bycbsa",
            "pyaqsapi.bypqao",
            "pyaqsapi.byma",
            "pyaqsapi.bybox"]

# [tool.setuptools.packages.find]
# where = ["pyaqsapi"]
# exclude = ["dev*", "tests*"]