python >=3.9
conda-build
tox-conda
pandas
pep517
requests
setuptools
sphinx
# the dependencies required for sphinxcontrib.spelling
# do not seem to be maintained anymore
# sphinxcontrib-spelling
sphinxcontrib-bibtex
sphinxcontrib-napoleon
numpydoc
toml
sphinx_rtd_theme
numpydoc
certifi
cryptography
pytest
pytest-rerunfailures
keyring
datetime