build
tox
pandas
pep517
requests
setuptools>=42
sphinx>=5.0
#sphinxcontrib-napoleon
sphinxcontrib-apidoc
sphinxcontrib-spelling
sphinxcontrib-bibtex
datetime
toml
sphinx_rtd_theme
numpydoc
certifi
cryptography