name: Lint_using_black

on: [push, pull_request]

jobs:
  lint:
    permissions:
      contents: write
      checks: write
    runs-on: ubuntu-latest
    container:
      image: python:3.13-slim
    steps:
      - uses: actions/checkout@v6
      - name: Install black
        run: pip install black
      - name: Run black
        run: black --check --verbose --color .
