name: new_build_and_test_pyaqsapi
run-name: A push event from ${{ github.actor }} caused a rebuilding and retesting of the pyaqsapi package via GitHub actions

on:
  push:
    branches:
      - main
      - github_workflow
  pull_request:
    branches:
      - main
      - github_workflow

defaults:
  run:
    shell: bash -el {0}

jobs:
  setup_environment:
    permissions:
      contents: write
      checks: write
    runs-on: ubuntu-latest
    env:
      AQSkey: ${{ secrets.AQSKEY }}
      AQSuser: ${{ secrets.AQSUSER }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]

    steps:
      - name: checkout
        uses: actions/checkout@v6

      - name: Install CA certificates
        run: |
          apt-get update
          apt-get install -y ca-certificates
          update-ca-certificates

      - name: setup environment
        uses: mamba-org/setup-micromamba@v2
        with:
          environment-file: environment.yml
          create-args: --retry-clean-cache -v
          init-shell: >-
            bash
          cache-environment: true
          environment-name: pyaqsapi
          post-cleanup: 'all'

      - name: Display Python and sphinx version and system info
        run: |
          python -c "import platform; print(platform.uname())"
          sphinx-build --version

      - name: build and install pyaqsapi in a test environment using python-build and pip
        run: |
          python -m build .
          pip install .

      - name: build apidocs
        run: |
          #use the tox doc environment to build documentation
          tox -e docs

      - name: test_package
        env:
          AQSkey: ${{ secrets.AQSKEY }}
          AQSuser: ${{ secrets.AQSUSER }}
        run: pytest
