# -*- coding: utf-8 -*-
# Simple workflow for deploying static content to GitHub Pages
name: Deploy_static_content_to_Pages

on:
  # Runs on pushes targeting the default branch
  push:
    branches:
      - 'main'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  # Single deploy job since we're just deploying
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    env:
      TZ: UTC
      DEBIAN_FRONTEND: noninteractive
    steps:
      - name: Setup Node.js (Local Only)
       # installs Node only if running locally via act,
       # otherwise skip to save time and resources on Github Actions runners
        if: ${{ env.ACT }}
        run: |
          apt update
          apt install -y nodejs npm
      
      - name: Checkout
        uses: actions/checkout@v6

      - name: setup environment to rebuild documentation
        uses: mamba-org/setup-micromamba@v2
        with:
          environment-file: environment.yml
          create-args: --retry-clean-cache -v
          init-shell: >-
            bash
          cache-environment: true
          environment-name: pyaqsapi
          post-cleanup: 'all'

      - name: build apidocs
        run: |
          # initialise conda/micromamba in this shell via the generic hook
          eval "$(micromamba shell hook --shell=bash)"
          conda init
          conda activate pyaqsapi
          tox -e docs
        shell: bash -el {0}

      - name: Setup Pages
        uses: actions/configure-pages@v2
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          # Upload entire repository
          path: './docs/_build/html'
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
